.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #29292b;
  padding: 0 100px;
}

.header_logo_link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 154px;
  height: auto;
}

.header_register {
  display: flex;
  margin-top: 8px;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.header_log_in {
  padding: 11px 14px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.header_log_in:hover {
  opacity: 0.8;
}

.header_sign_up {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--button-color);
  border: none;
  border: 1px solid var(--button-color);
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  text-decoration: none;
  color: white;
}

.header_sign_up:hover {
  padding: 10px 20px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid var(--button-color);
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
}

.header_features_logo_part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_features {
  display: flex;
  margin-top: 10px;
}

.header_navigation_link {
  text-decoration: none;
  position: relative; 
}

.header_navigation_link:hover {
  opacity: 0.7;
}

.header_navigation_link::after {
  content: '';
  display: block;
  height: 2px; 
  background-color: var(--button-color); 
  position: absolute;
  left: 38px; 
  right: 0; 
  bottom: 0; 
  transform: scaleX(0); 
  transition: transform 0.3s ease;
}

.header_navigation_link:hover::after {
  transform: scaleX(1); /* Show the border on hover */
}

.header_navigation_item {
  color: white;
  font-size: 22px;
  margin-left: 38px;
  font-weight: 750;
  padding: 42px 0;
}

.search_container {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 10px;
}

.search_input {
  font-size: 16px;
  border-radius: 6px;
  border: 3px solid var(--border);
  width: 330px;
  padding: 13px;
  background-color: var(--background-color);
  color: white;
  font-weight: 400;
}

.search_input:focus {
  border-color: var(--button-color); 
  outline: none;
}

.header_notify_icon {
  margin-right: 20px;
  font-size: 28px;
  margin-top: 2px;
  position: relative;
}

.header_notify_icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header_notify_icon,
.header_user_infos_icon {
  color: white;
}

.header_user_infos_icon {
  font-size: 32px;
  position: relative;
}

.header_user_infos_icon:hover {
  cursor: pointer;
}

/* Modal styles */
.modal {
  position: absolute;
  top: 115px;
  right: 80px;
  background-color: var(--background-color);
  border: 2px solid var(--border);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 10px 20px;
  z-index: 1000;
}

.modal_option_header {
  font-size: 32px;
  color: white;
  padding: 20px 0;
  padding-bottom: 12px;
  font-weight: bold;
  border-bottom: 1.5px solid var(--border);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal_content_options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  list-style: none;
  padding: 20px 0;
  place-items: center;
}

.modal_option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border: 2px solid var(--border); 
  border-radius: 12px;
  padding: 16px 20px;
}

.modal_option_text {
  font-size: 16px;
  color: white;
  margin-top: 16px;
  font-weight: 750;
}

.modal_option:hover {
  cursor: pointer;
  opacity: 0.7;
}

.sign_out_btn {
  background-color: var(--red-color);
  width: 100%;
  border: 2px solid transparent;
  border-radius: 12px;
  color: white;
  padding: 6px;
  outline: none;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 750;
}

.sign_out_btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* Notification modal */
.notification_wrapper {
  margin-top: 2px;
}

.notification_modal_wrapper {
  position: absolute;
  top: 115px;
  right: 80px;
  background-color: var(--background-color);
  border: 2px solid var(--border);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 350px;
  padding: 10px 20px;
  z-index: 1000;
  overflow-y: auto;
}

.notification_item_wrapper {
  padding: 23px 15px;
  border-bottom: 1px solid #f0f0f0; 
}

.notification_item_wrapper:hover {
  opacity: 0.7;
  cursor: pointer;
}

.notification_item_wrapper:last-child {
  border-bottom: none; 
}

.notification_item_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.notification_item_header p {
  color: var(--button-color);
  font-size: 20px;
}

.notification_item_header p:first-child {
  margin-bottom: 5px;
  font-weight: 800;
}

.notification_item_content {
  color: white; 
  margin-top: 5px; 
  font-weight: 400;
  font-size: 17px;
  word-wrap: break-word; /* Allows long words to break onto the next line */
  white-space: normal; /* Ensures text can wrap */
  overflow-wrap: break-word; /* Prevents overflow of long text */
  line-height: 1.5; /* Optional: to improve readability */
}

.notification_item_link {
  text-decoration: none;
}

